/* ----------------------- */
/* base  0
/* ----------------------- */

@charset "UTF-8";

body{
	font-family:Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
  color: #333;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  display: inline-block;
}
a:hover{
  opacity: .7;
  transition: .3s;
}

h1{
	text-align:center;
	font-size:4.5em;
	font-weight:normal;
	margin:80px 0;
}

img,svg{
  width: 100%;
  vertical-align: bottom;
}


/* main{
	clear:both;
} */


p{
	line-height:2em;
	color:#4E2322;
}

.wrapper{
  padding: 60px 0;
  width: 1000px;
  margin: 300px auto;
  padding: 0 30px;
}


.inner{
  padding: 0 30px;
}

.section-title{
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 30px;
}



.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 0px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border: 2px solid #ffffff;
  transition: 0.3s;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(90deg, rgba(57, 210, 248, 1), rgba(48, 97, 96, 1));
}

.link-btn:hover {
  box-shadow: 0 0 rgba(0, 0, 0, .3);
}


.gray-bg{
  background-color: #f2f2f2;
}
.white-bg{
  background-color: #fff;
}
.lines{
  line-height: 2;
}

.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
  object-fit: cover;
}



/* ----------------------- */
/* header 0
/* ----------------------- */

.header{
	height: 90vh;
	width: 80%;
	background-image: url(./mountains.jpg);
	background-size: cover; 

 }

header h1{
	text-align:center;
	background:rgb(34, 34, 34,0.8);
	color:#AD3231;
	font-size:4.5em;
	font-weight:bold;
}

/* ----------------------- */
/* nav 0
/* ----------------------- */


.nav{
	width:100%;
	top:0;
	left:0;
	z-index: 10;
}

.nav li{
	float:left;
	width:25%;
}

.nav li a{
	text-align:center;
	display:block;
	text-decoration:none;
	background:rgb(34, 34, 34,1);;
	padding:25px 0;
	color:#FFF;
	border-right:1px solid #D84544;
}

.nav li a:hover{
	background:#98302F;
}

.nav li:last-child a{
	border-right:none;
}


/* ----------------------- */
/* key visual 0
/* ----------------------- */
.fv{
  height: 60vh;
  min-height: 450px;
}

.fv::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 45vh;
  min-height: 450px;
  z-index: -1;
}

.kv-wrapper{
  height: 86%;
  width: 76.4%;
  background-size: cover;
  background-position: center 0;
  position: relative;
}

.page-title {
  font-size: 7.2rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 90%;
  right: -30%;
  transform: translate(50%,-50%);
}

.page-title span{
  font-size: 2rem;
  display: block;
}

/* ----------------------- */
/* footer 0
/* ----------------------- */
.footer{
  line-height: 50px;
  background-color: #525252;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}



/* ----------------------- */
/* section_about 1-1
/* ----------------------- */


.about-content{
  max-width: 400px;
  padding: 50px 30px;
  box-sizing: border-box;
  position: relative;
}

.about-img-wrapper{
  width: 80.7%;
  position:relative;
}

.about-img-wrapper img{
  position:absolute;
  top: -200px;
	left: 150px;

}


.about h1{
	position: relative;
	top: -400px;
	left: 500px;
	font-size: 30px;
	color: #000;
	display: inline-block;
	padding: 10px;
}

.about h1::after,
.works h1::after,
.contact h1::after{
	content:'';
	display: block;
  width: 210px;
  height: 8px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: skew(45deg);
}

/* ----------------------- */
/* section_works 1-2
/* ----------------------- */


.works {
  margin-top: 600px;
}


.works-content {
  padding: 580px 10px 20px 10px;
  max-width: 400px;
  box-sizing: border-box;  
}

.works dt{
	float:left;
}


.works dt a{
  text-align:center;
	display:block;
	padding:20px 0;
	width:50px;
	height:490px;
	color:#FFF;
	text-decoration:none;
}

.works dt a:hover{
  background:#DA7354;
}


.works dt:nth-of-type(1), .works dd:nth-of-type(1){
  background:#47475A;
}

.works dt:nth-of-type(2), dd:nth-of-type(2){
  background:#55556B;
}

.works dt:nth-of-type(3), dd:nth-of-type(3){
  background:#636375;
}

.works dt:nth-of-type(4), dd:nth-of-type(4){
  background:#767686;
}

.works dd{
  float:left;
  max-width:610px;
  height:530px;
}

.works dd p{
  padding:20px;
  width:740px;
}

.works h1 {
  top: -20px;
	left: 100px;
}

/* ----------------------- */
/* section_contact 1-3
/* ----------------------- */

.contact .inner{
  background-image: url(woman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0 110px 50px;
}

.contact-content{
  max-width: 400px;
  padding: 50px 30px;
  box-sizing: border-box;  
}


/* ----------------------- */
/* section_vision 2-1
/* ----------------------- */
.vision-text{
  font-weight: bold;
}

.vision .inner{
  background-image: url(./architecture2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0 110px 50px;
}

.vision-content{
  max-width: 400px;
  padding: 50px 30px;
} 



/* ----------------------- */
/* section_business 2-2
/* ----------------------- */

.business-content{
  max-width: 400px;
  padding: 50px 30px;
} 

.business-img-wrapper{
  width: 70.7%;
  height: 0;
}

.business-img-wrapper img{
	position:relative;
	top: -600px;
	left: 410px;
}



/* ----------------------- */
/* section_company 2-3
/* ----------------------- */

.company-info-list{
  border-top: 1px solid #ccc;
  margin-bottom: 40px;
}
.company-info-list>div{
  display: flex;
  padding: 20px 0;
  max-width: 800px;
  margin-left: auto;
  border-bottom: 1px solid #ccc;
}
.company-info-title{
  font-weight: bold;
  flex-basis: 142px;
}


.company-img-wrapper iframe{
	position:relative;
	top: -40px;
	left: 0px;
}

.company-content{ 
	position: relative;
	left: 450px;
  max-width: 400px;
  padding: 50px 30px;
  box-sizing: border-box;
}


/* ----------------------- */
/* section_caption 3-1
/* ----------------------- */



.caption {
  display: flex; 
  flex-wrap: wrap;
  gap: 20px;
  padding: 100px 40px;
}

.caption-item{
  position:relative;
  width: calc((100% - 30px * 2) / 2);
  margin:0 20px 80px 0;
  color:#FFF;
  line-height:2em;
}



.caption-item img{
  width: 100%; 
}

.caption-item img{
  vertical-align:bottom;
}
  
.caption-item  div{
  position:absolute;
  display:none;
  width:100%;
  height:100%;
  padding:20px;
  background:rgba(17, 179, 179, .7);
  top:0;
  left:0;
  box-sizing:border-box;
}

.caption-item  p{
  position:relative;
  top:10px;
} 



  /* ----------------------- */
/* contact-form 4-1
/* ----------------------- */
.contact-form-title{
  font-size:1.3rem;
  font-weight: bold;
  margin-top: 40px;
}

p.alert{
	font-size:1em;
	font-weight:normal;
	margin:10px 0;
	color:#DC2900;
}

input[type="text"], 
input[type="email"], 
input[type="tel"], 
textarea{
	padding:5px;
	font-size:1.3em;
	color:#333;
	border:1px solid #CCC;
	background:#EFEFEF;
  margin: 20px 0;
}

input[type="text"],
input[type="email"]{
	width: 50%;;
}

input[type="tel"]{
	width: 10%;;
}

textarea{
  width: 90%;
	height:200px;
  padding: 10px;
}

.submitBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 15px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  border: 3px solid #9c1443;
  transition: 0.3s;
  background-color: #E91E63;
	margin: 30px auto;
}

.submitBtn:hover {
  transform: scale(1.05);
}

.checkboxSection {
  text-align: center;
}

label[for="checkbox1"] {
  font-size: 1.1rem;
  font-weight: bold;
}

.contact-form .inner {
  max-width: 700px;
  padding: 0 30px;
  margin: 0 auto;
}

.contact-form-lead {
  margin-bottom: 80px;
  font-size:1.2rem;
  font-weight: bold;
}

.required{
  display: inline-block;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  padding: 0 5px;
  margin-left: 6px;
  line-height: 1.5;
}
.form-item-title{
  font-weight: bold;
  margin-bottom: 10px;
}

.privacy-policy-title{
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.privacy-policy-detail{
  padding: 10px;
  height: 230px;
  border: 1px solid #333;
  overflow: scroll;
  margin-bottom: 40px;
  font-weight: normal;
}







@media screen and (max-width: 768px){
  /* ----------------------- */
  /* base_tb
  /* ----------------------- */
  body {
    font-size: 1.4rem;
  }

  .wrapper {
    padding: 40px 0;
    width: 100%;
  }

  .wrapper:first-of-type {
    padding-top: 80px;
  }

  .wrapper:last-of-type {
    padding-bottom: 80px;
  }

  .inner {
    padding: 0 4vw;
    margin: 0 auto;
  }
  
  .page-title {
    font-size: 6.2rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 87%;
    right: -1%;
    transform: translate(50%,-50%);
  }
  
  .page-title span {
    font-size: 1rem;
    display: block;
  }

  
  /* ----------------------- */
  /* header_tb
  /* ----------------------- */
  .site-title {
    width: 180px;
    top: 21px;
  }
  .header-nav {
    width: 67.7vw;
  }
  
  /* ----------------------- */
  /* fv_tb
  /* ----------------------- */
  .page-title {
    font-size: 5.2rem;
    transform: translate(30%,-50%);
  }

  
  
  /* ----------------------- */
  /* section_about_tb 1-1
  /* ----------------------- */
  .about h1 {
    position: static;
    margin: 0 auto;
  }
  
  .about-img-wrapper {
    margin: 0 auto;
  }

  .about-img-wrapper img {
    position: static;
    margin: 0 auto;
  }
  
  .about-wrapper,
  .works {
    display: flex;
    flex-direction: column;
  }

  .about-content {
    margin: 0 auto;
  }
  .about-img-wrapper {
    position: static;
  }
  .about-img-wrapper img {
    margin: 10px 0 100px;
  }

  /* ----------------------- */
  /* section_works_tb 1-2
  /* ----------------------- */

  .works {
    width: 100%;
  }

  .works h1 {
    top: -20px;
    left: 100px;
  }
  

  .works dd {
    max-width:340px;
    height:333px;
    overflow:hidden;
  }

  .works dt a {
    text-align:center;
    display:block;
    padding:20px 0;
    width:30px;
    height:293px;
    color:#FFF;
    text-decoration:none;
  }

  .works .contact-content {
    position: static;
    width: 100%;
  }

  .works {
    margin-bottom: 100px;
  }

  .works-content {
    padding-top: 20px;
  }


  /* ----------------------- */
  /* section_contact_tb 1-3
  /* ----------------------- */

  .contact h1 {
    top: -100px;
    left: 100px;
  }


  /* ----------------------- */
  /* section_business_tb 2-2
  /* ----------------------- */
  
  .business-img-wrapper {
    width: 100%;
  }
  
  .business-img-wrapper img {
    position:static;
   margin: 20px 0;
  }

  .business .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ----------------------- */
  /* section_company_tb 2-3
  /* ----------------------- */
  .company {
    margin-top: 500px;
  }
  
  .company-content {
    padding: 30px;
    position: static;
  }
  
  
  .company-content {
    margin: 0 auto;
  }
  
  
  .company-img-wrapper {
    margin: 0 auto;
    text-align: center;
  }
  
  .company-img-wrapper iframe {
    width: 80%;
  }

  /* ----------------------- */
  /* section_caption_tb 3-1
  /* ----------------------- */
  .caption {
    flex-direction: column;
    align-items: center;
  }

  .caption-item {
    width: calc((100% - 30px * 2));
  } 

}
 


  @media screen and (max-width: 480px){
 
    /* ----------------------- */
    /* section_works_sp 1-2
    /* ----------------------- */
    
    .works {
      margin-top: 0px;
    }

    .works dd{
      max-width:300px;
      height:200px;
      overflow:hidden;
    }
    
    .works dt a{
      text-align:center;
      display:block;
      padding:15px 0;
      width:20px;
      height:170px;
      color:#FFF;
      text-decoration:none;
      opacity: 0;
      visibility: hidden;
    }
    
    .works .contact-content {
      width: 100%;
    }

    .works dt:nth-of-type(1), .works dd:nth-of-type(1){
      background:#47475A;
    }
    
    .works dt:nth-of-type(2), dd:nth-of-type(2){
      background:#55556B;
      opacity: 0;
      visibility: hidden;
    }
    
    .works dt:nth-of-type(3), dd:nth-of-type(3){
      background:#636375;
      opacity: 0;
      visibility: hidden;
    }
    
  }
